PORT=5001
DB_URL=
JWT_SECRET=
JWT_EXPIRES_IN=1d

EMAIL_PROVIDER=sendgrid
SENDGRID_API_KEY=
EMAIL_FROM=noreply@oqep.remedygcc.com
SCANNER_BASE_URL=https://oqep.remedygcc.com/survey
SCANNER_SECURITY_TEST_URL=https://oqep.remedygcc.com/survey
